@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

:root {
    --clr: #222327;
}

#menu li.active {
    opacity:0.5;
    transition: color 0.2s ease;
}
#menu li a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
#menu li a:hover {
  opacity:0.5;
}
#menu {
  padding: 0;
  list-style-type: none;
}

.container {
  margin-top: 10px; 
  Display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  background-color: #36383F;
  border-radius: 40px;
  width: 410px;
  height: 710px;
  Display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 30px 50px 100px #85888C;
}
.main-content {
  display: relative;
  border: 1px solid #36383F;
  border-radius: 20px;
  width: 94%;
  height: 91%;
  background-color: var(--clr);
  overflow: hidden;
}


.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E1E23;
  height: 65px;
  padding: 0 20px;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  /* top: 25px;
  left: 25px; */
  z-index: 11;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 12;
}
#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 11;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  z-index: 10;
  top: -50px;
  right: -28px;
  width: 200px;
  height: 440px;
  box-shadow: 0 0 10px #85888C;
  /* margin: -50px 0 0 -50px; */
  padding: 50px;
  padding-top: 100px;
  background-color: #F5F6FA;
  background-image: url('/images/jal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-font-smoothing: antialiased;  
  /* transform-origin: 0% 0%; */
  transform: translatex(100%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 6, 97, 0.5);
  z-index: 10;
}
#menu li a {
  position: relative;
  z-index: 18; 
  text-decoration: none;
  /* color: rgb(29 78 216);  */
  opacity: 1;
  text-shadow: 0 0 5px #fff,
               0 0 10px #fff, 
               0 0 15px rgb(29 78 216),
               0 0 20px rgb(29 78 216), 
               0 0 25px rgb(29 78 216), 
               0 0 30px rgb(29 78 216), 
               0 0 35px rgb(29 78 216);
  transition: 200ms;
}
#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}
#menuToggle input:checked ~ ul {
  transform: none;
}





/* For Bottom Nav */
.bottom-nav {
    position: absolute;
    bottom: 2.5em;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 384px;
    height: 70px;
    background: #fff;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style-type: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
} 

.navigation ul li.active a .text {
    transform: translateY(10px);
    opacity: 1;
}


.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: rgb(29 78 216);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}
/* End Bottom Nav */



/* For Tabs */
.tabs {
  position: relative;
  z-index: 2;
  padding: 1.5em;
  height: 31em; 
  /* border: 1px solid red; */
  
  /* background-color: blue;
  background-image: url('/images/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
/* End Tabs */